$lmain: #c39518aa;
$main: #c39518;
$hmain: #e4aa0c;
$lred: #ee7777;
$red: #ee1111;
$orange: #ee7711;
$pink: #ee1177;
$gold: gold;
$lblue: #7777ee;
$blue: #1177ee;
$dblue: #111166;
$blueviolet: #7711ee;
$lgreen: #77ee11;
$green: #117711;
$bcg: #eee;
$grey: #777777;
$pColor: #555555;
$black: #222;